/*======================================
  Contact
======================================*/

.contact {
  width: 100%;
  padding: 90px 0 142px 0;
  .grid {
    @include columns( $quant: 1fr 1fr, $gutter: 24px, $align: start, $template: '');
    .item {
      &.text {
        padding: 0 164px 0 0;
      }
      h1 {
        font-family: $font-alt;
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 110%;
        color: $color-white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 20px 0 33px 0;
      }
      ul.links {
        margin: 0 0 2px -5px;
        padding: 0 0 17px 0;
        &.border {
          border-bottom: 1px solid rgba($color-white, 0.1);
          margin-bottom: 40px;
        }
        li {
          padding: 0 0 21px 0;
          a {
            font-family: $font-main;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            color: $color-white;
            opacity: 0.8;
            display: flex;
            align-items: center;
            .icon {
              width: 24px;
              height: 24px;
              fill: transparent;
              stroke: $color-orange;
              margin: 0 9px 0 0;
            }
          }
        }
      }
      ul.social-media {
        display: flex;
        padding: 0 0 0 3px;
        li {
          padding: 0 16px 0 0;
          a {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-white;
            color: $color-black;
            .icon {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
      p {
        font-family: $font-main;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: $color-white;
        opacity: 0.8;
        &.ptop {
          padding: 76px 0 29px 0;
        }
      }
      .box-form {
        padding: 47px 55px 57px 57px;
        background: #272727;
        box-shadow: 0px 10px 10px rgba($color-black, 0.4);
        border-radius: 8px;
        h2 {
          font-family: $font-alt;
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 110%;
          color: $color-white;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          padding: 0 0 28px 9px;
        }
        label {
          display: block;
          padding: 0 0 25px 0;
          .label {
            font-family: $font-main;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 120%;
            color: $color-orange;
            display: block;
            padding: 0 0 4px 37px;
          }
          input {
            width: 100%;
            height: 46px;
            border: 1px solid #C4C4C4;
            border-radius: 25px;
            background: transparent;
            font-family: $font-lexend;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $color-white;
            padding: 0 35px;
            outline: none;
            &::placeholder {
              color: $color-white;
              opacity: 1;
            }
          }
          textarea {
            width: 100%;
            height: 147px;
            border: 1px solid #C4C4C4;
            border-radius: 25px;
            background: transparent;
            font-family: $font-lexend;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $color-white;
            padding: 20px 35px;
            resize: none;
            outline: none;
            &::placeholder {
              color: $color-white;
              opacity: 1;
            }
          }
        }
        .btn {
          border: none;
          outline: none;
          margin: 4px 0 0 18px;
          padding: 15px 57px;
        }
      }
    }
  }
}

@include breakpoint2($min:sm, $max:lg) {
  .contact {
    padding: get-vw-lg(90px) 0 get-vw-lg(142px) 0;
    .grid {
      @include columns( $quant: 1fr 1fr, $gutter: get-vw-lg(24px), $align: start, $template: '');
      .item {
        &.text {
          padding: 0 get-vw-lg(164px) 0 0;
        }
        h1 {
          font-size: get-vw-lg(80px);
          text-shadow: 0 get-vw-lg(4px) get-vw-lg(4px) rgba($color-black, 0.25);
          padding: get-vw-lg(20px) 0 get-vw-lg(33px) 0;
        }
        ul.links {
          margin: 0 0 get-vw-lg(2px) get-vw-lg(-5px);
          padding: 0 0 get-vw-lg(17px) 0;
          &.border {
            margin-bottom: get-vw-lg(40px);
          }
          li {
            padding: 0 0 get-vw-lg(21px) 0;
            a {
              font-size: get-vw-lg(18px);
              .icon {
                width: get-vw-lg(24px);
                height: get-vw-lg(24px);
                margin: 0 get-vw-lg(9px) 0 0;
              }
            }
          }
        }
        ul.social-media {
          padding: 0 0 0 get-vw-lg(3px);
          li {
            padding: 0 get-vw-lg(16px) 0 0;
            a {
              width: get-vw-lg(38px);
              height: get-vw-lg(38px);
              .icon {
                width: get-vw-lg(18px);
                height: get-vw-lg(18px);
              }
            }
          }
        }
        p {
          font-size: get-vw-lg(18px);
          &.ptop {
            padding: get-vw-lg(76px) 0 get-vw-lg(29px) 0;
          }
        }
        .box-form {
          padding: get-vw-lg(47px) get-vw-lg(55px) get-vw-lg(57px) get-vw-lg(57px);
          box-shadow: 0 get-vw-lg(10px) get-vw-lg(10px) rgba($color-black, 0.4);
          border-radius: get-vw-lg(8px);
          h2 {
            font-size: get-vw-lg(32px);
            text-shadow: 0 get-vw-lg(4px) get-vw-lg(4px) rgba($color-black, 0.25);
            padding: 0 0 get-vw-lg(28px) get-vw-lg(9px);
          }
          label {
            padding: 0 0 get-vw-lg(25px) 0;
            .label {
              font-size: get-vw-lg(13px);
              padding: 0 0 get-vw-lg(4px) get-vw-lg(37px);
            }
            input {
              height: get-vw-lg(46px);
              border-radius: get-vw-lg(25px);
              font-size: get-vw-lg(16px);
              padding: 0 get-vw-lg(35px);
            }
            textarea {
              height: get-vw-lg(147px);
              border-radius: get-vw-lg(25px);
              font-size: get-vw-lg(16px);
              padding: get-vw-lg(20px) get-vw-lg(35px);
            }
          }
          .btn {
            margin: get-vw-lg(4px) 0 0 get-vw-lg(18px);
            padding: get-vw-lg(15px) get-vw-lg(57px);
          }
        }
      }
    }
  }
}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}